@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.bg-network{
    background-color: #E5E5E5;
    background-image: url(/images/Back1.png), url(/images/Back2.png) ;
    background-repeat: no-repeat, no-repeat ;
    background-position: right top, left bottom ;
    background-size: 1200px 1200px, 1200px 1200px ;    
}
.simple-linear {
    background: linear-gradient(180deg,rgb(33, 108, 139), rgba(191, 193, 194, 0.329));
}
.ellipse{
    height: 191px;
    width: 784px;
    border-radius: 50%;    
}